.poster{
    background-image: linear-gradient(to right, rgba(26, 25, 25, 0.698) 35%,rgba(255,255,255,0) 100%), url("./asset/poster.avif");
    height: 430px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.poster-text{
    position: absolute;
    color: white;
    width: 400px;
    top: auto;
    height: 230px;
    padding: 100px 100px;
/* background-color: rgba(0, 0, 0, 0.505); */
}
.poster-swami-name{
    top: 230px;
    position: absolute;
}
.poster-title{
    top: 250px;
    position: absolute;
}
.cource-card{
    position: absolute;
    width: 300px;
    right: 70px;
    padding: 20px 20px 20px 20px;
    top: 395px;
    background-color: rgb(250, 228, 252);
}
button{
    color: white;
    background-color: rgb(111, 12, 225);
    width: 300px;
    border-radius: 50px;
    padding: 10px;
    border: none;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    /* margin-left: 70px;  */
      /* background-color: aqua; */
}
.main{
    width: 500px;
    margin-left: 70px; 
      /* background-color: aqua; */
      padding: 20px;
}
img{
    border-radius: 50%;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.review{
    position: relative;
   margin-top: 50px;
    background-color: rgba(128, 128, 128, 0.1);
    height: 200px;
    margin-left: -100px;
    width: 200%;
    padding: 100px 100px;
}
.review h2{
    position: absolute;
   text-align: center;
   /* width: 600px; */
   left: 250px;
   right: 250px;
}
.review h3{
    position: absolute;
   text-align: center;
   /* width: 600px; */
   left: 250px;
   right: 250px;
   top: 230px;
}
.review p{
    position: absolute;
   text-align: center;
   /* width: 600px; */
   left: 250px;
   right: 250px;
   top: 260px;
}